PORT=8000
NODE_ENV=development
LOG_LEVEL=info

# use this when running node app without docker and postgres and redis with docker
# DATABASE_URL=postgresql://postgres:postgres@localhost:5433/nodejs-capstone-db

# use this when running all three services in docker node app, postgres and redis
DATABASE_URL=postgresql://postgres:postgres@postgres:5433/nodejs-capstone-db

JWT_ACCESS_SECRET=some_random_string
JWT_ACCESS_EXPIRES_IN=30m

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# use this when running node app without docker and postgres and redis with docker
# REDIS_URL=redis://localhost:6379

# use this when running all three services in docker node app, postgres and redis
REDIS_URL=redis://redis:6379

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=